### ***Análisis Salarios de Gerentes -  2021***

In [2]:
#Importar librerías
import pandas as pd
import numpy as np

In [4]:
#Cargar la base de datos
df = pd.read_csv("AskAManagerSalarySurvey2021.csv")
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

### Análisis preliminar de la base

In [6]:
df.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

In [8]:
#Validar nombre de las columnas originales
df.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title',
       'If your job title needs additional context, please clarify here:',
       'What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)',
       'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.',
       'Please indicate the currency',
       'If "Other," please indicate the currency here: ',
       'If your income needs additional context, please provide it here:',
       'What country do you work in?',
       'If you're in the U.S., what state do you work in?',
       'What city do you work in?',
       'How many years of professional work experience do you have overall?',
       'How many years of professional work experience do you have in your field?',
       'What is your highest level of education completed?',
       'What is your gender?', 'What is your race? (Choose all that apply.)'],
      dtype='object')

In [10]:
#Renombrar nombres de columnas para tener un mejor entendimiento
rename_columns = {
    'Timestamp': 'fecha_registro',
    'How old are you?': 'rango_edad',
    'What industry do you work in?': 'industria',
    'Job title': 'cargo',
    'If your job title needs additional context, please clarify here:': 'cargo_contexto',
    'What is your annual salary? (You\'ll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)': 'salario_anual',
    'How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.': 'compensacion_adicional',
    'Please indicate the currency': 'moneda',
    'If "Other," please indicate the currency here: ': 'moneda_otro',
    'If your income needs additional context, please provide it here:': 'ingreso_contexto',
    'What country do you work in?': 'pais',
    'If you\'re in the U.S., what state do you work in?': 'estado_usa',
    'What city do you work in?': 'ciudad',
    'How many years of professional work experience do you have overall?': 'anios_experiencia_total',
    'How many years of professional work experience do you have in your field?': 'anios_experiencia_area',
    'What is your highest level of education completed?': 'nivel_educativo',
    'What is your gender?': 'genero',
    'What is your race? (Choose all that apply.)': 'raza'
}
df = df.rename(columns=rename_columns)
df.columns

Index(['fecha_registro', 'rango_edad', 'industria', 'cargo', 'cargo_contexto',
       'salario_anual', 'compensacion_adicional', 'moneda', 'moneda_otro',
       'ingreso_contexto', 'pais', 'estado_usa', 'ciudad',
       'anios_experiencia_total', 'anios_experiencia_area', 'nivel_educativo',
       'genero', 'raza'],
      dtype='object')

In [12]:
#validar que haya quedado bien la base ajustada
df.head()

,fecha_registro,rango_edad,industria,cargo,cargo_contexto,salario_anual,compensacion_adicional,moneda,moneda_otro,ingreso_contexto,pais,estado_usa,ciudad,anios_experiencia_total,anios_experiencia_area,nivel_educativo,genero,raza
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

### Variable país

In [14]:
"""
Validar variable de país
"""
df['pais_limpio'] = df['pais'].astype(str).str.strip().str.title()

In [16]:
df['pais_estandar'] = df['pais_limpio']

In [18]:
# United States
df.loc[df['pais_limpio'].str.contains(
    'United|Us|America|U.S.|U.S|U. S.|Us|Usa|I.S.|'
    'Unite States|Uniteed States|Unted States|Uniyed States|'
    'Virginia|Is|Uniited States|Unites States|'
    'Untied States|Uniter Statez|U. S|Uniyes States|'
    'Unitef States|California|United States Of America|United Stares|United Stated'
    'Unitedstates|United States Is America|United Statws|us|Unitied States|Unitef Stated|'
    'San Francisco|us|Hartford|Us|US|Us',
    na=False
), 'pais_estandar'] = 'United States'

# United Kingdom
df.loc[df['pais_limpio'].str.contains(
    'United Kingdom|England|Scotland|Wales|Northern Ireland|Uk|U.K.|Unites Kingdom|U.K|Englang!Britain|London|Englang|Britain',
    na=False
), 'pais_estandar'] = 'United Kingdom'

# Canada
df.loc[df['pais_limpio'].str.contains('Canda|Canada|Canad|Can|Canadw|Canadá|Csnada', na=False), 'pais_estandar'] = 'Canada'

# Mexico
df.loc[df['pais_limpio'].str.contains('Mexico|México', na=False), 'pais_estandar'] = 'Mexico'

# Italy
df.loc[df['pais_limpio'].str.contains('Italy \\(South\\)|Italia', na=False), 'pais_estandar'] = 'Italy'

# New Zealand
df.loc[df['pais_limpio'].str.contains('Nz|NI|Aotearoa New Zealand|New Zealand Aotearoa', na=False), 'pais_estandar'] = 'New Zealand'

# Netherlands
df.loc[df['pais_limpio'].str.contains('The Netherlands|Nederland', na=False), 'pais_estandar'] = 'Netherlands'

# Australia
df.loc[df['pais_limpio'].str.contains('Australi|Australian', na=False), 'pais_estandar'] = 'Australia'

# India
df.loc[df['pais_limpio'].str.contains('Ibdia', na=False), 'pais_estandar'] = 'India'

# Bosnia
df.loc[df['pais_limpio'].str.contains('Bosnia And Herzegovina', na=False), 'pais_estandar'] = 'Bosnia'

# Panama
df.loc[df['pais_limpio'].str.contains('Panamá', na=False), 'pais_estandar'] = 'Panama'

# Ukraine
df.loc[df['pais_limpio'].str.contains('U.A.|Ua|Ucrania', na=False), 'pais_estandar'] = 'Ukraine'

# United Arab Emirates
df.loc[df['pais_limpio'].str.contains('Uae', na=False), 'pais_estandar'] = 'United Arab Emirates'

# China
df.loc[df['pais_limpio'].str.contains('Mainland China|Hong Konh|Hong Kongkong|Hong Kong', na=False), 'pais_estandar'] = 'China'

# Austria
df.loc[df['pais_limpio'].str.contains('Austria, But I Work Remotely For A Dutch/British Company', na=False), 'pais_estandar'] = 'Austria'

# Argentina
df.loc[df['pais_limpio'].str.contains('Argentian But My Org Is In Thailand', na=False), 'pais_estandar'] = 'Argentina'

# Pakistan
df.loc[df['pais_limpio'].str.contains('Company In German. I Work From Pakistan', na=False), 'pais_estandar'] = 'Pakistan'

# Luxembourg
df.loc[df['pais_limpio'].str.contains('Luxemburg', na=False), 'pais_estandar'] = 'Luxembourg'

# Denmark
df.loc[df['pais_limpio'].str.contains('Danmark', na=False), 'pais_estandar'] = 'Denmark'

# Brazil
df.loc[df['pais_limpio'].str.contains('Brasil', na=False), 'pais_estandar'] = 'Brazil'

In [20]:
patron_ruido = (
    'Remote|Wherever|Worldwide|Bonus|Commission|Salary|'
    'Finance|Policy|Contract|N/A|^Na$|Work|Raises|Globally|Projects'
    'Overseas|Contracts|Salea|Company|Y|Uxz|Ss|NI|International|Global|Ff|'
    'Dbfemf|1'
)

df.loc[
    (df['pais_limpio'].str.len() > 40) |
    (df['pais_limpio'].str.contains(patron_ruido, na=False)),
    'pais_estandar'
] = 'No aplica'

In [22]:
df['pais_estandar'].value_counts().head(20)

pais_estandar
United States     23303
Canada             1691
United Kingdom     1599
Australia           392
Germany             198
New Zealand         131
Ireland             125
Netherlands          90
France               69
Spain                50
Sweden               41
Switzerland          38
No aplica            37
Belgium              35
Japan                29
India                26
Denmark              24
Singapore            20
South Africa         19
Italy                16
Name: count, dtype: int64

In [24]:
len(df['pais_estandar'].unique())

101

In [26]:
df[df['pais_estandar'] == 'No aplica'].shape

(37, 20)

### Variable ciudad

In [28]:
"""
Validar variable de ciudad
"""
df['ciudad_limpia'] = df['ciudad'].astype(str).str.strip().str.title()

In [30]:
df['ciudad_estandar'] = df['ciudad_limpia']

In [32]:
#Washington
df.loc[
    df['ciudad_limpia'].str.contains(
        'Washington',
        case=False,
        na=False
    ),
    'ciudad_estandar'
] = 'Washington'

# NY
df.loc[
    df['ciudad_limpia'].str.contains(
        'New York|Ny ',
        case=False,
        na=False
    ),
    'ciudad_estandar'
] = 'New York'

In [34]:
df.loc[
    df['ciudad_limpia'].str.contains(
        'Remote|Work From Home|Worldwide|Rural|Declined|N/A|Area',
        case=False,
        na=False
    ),
    'ciudad_estandar'
] = 'No especificada'

In [36]:
df['ciudad_estandar'].value_counts().head(20)

ciudad_estandar
New York           1385
Washington          884
Chicago             834
Boston              832
Seattle             743
No especificada     661
London              626
San Francisco       590
Los Angeles         540
Portland            487
Toronto             444
Minneapolis         389
Atlanta             362
Austin              356
Philadelphia        351
Denver              335
Houston             279
Dallas              242
Pittsburgh          241
Vancouver           240
Name: count, dtype: int64

In [38]:
UMBRAL = 100
df['ciudad_final'] = df['ciudad_estandar'].where(
    df['ciudad_estandar'].map(df['ciudad_estandar'].value_counts()) >= UMBRAL,
    'Otras ciudades'
)

In [40]:
df['ciudad_final'].value_counts().head(20)

ciudad_final
Otras ciudades     13607
New York            1385
Washington           884
Chicago              834
Boston               832
Seattle              743
No especificada      661
London               626
San Francisco        590
Los Angeles          540
Portland             487
Toronto              444
Minneapolis          389
Atlanta              362
Austin               356
Philadelphia         351
Denver               335
Houston              279
Dallas               242
Pittsburgh           241
Name: count, dtype: int64

### Otras variables de la base de datos

In [42]:
#Genero
df['genero'].value_counts(dropna=False).head(20)

genero
Woman                            21424
Man                               5538
Non-binary                         747
Other or prefer not to answer      298
NaN                                182
Prefer not to answer                 1
Name: count, dtype: int64

In [44]:
# 1. Crear versión limpia
df['genero_limpio'] = (
    df['genero']
    .astype(str)
    .str.strip()
    .str.title()
)

# 2. Crear género estandar
df['genero_estandar'] = 'Otro / No especificado'

# Mujer
df.loc[df['genero_limpio'] == 'Woman', 'genero_estandar'] = 'Mujer'

# Hombre
df.loc[df['genero_limpio'] == 'Man', 'genero_estandar'] = 'Hombre'

# No binario
df.loc[df['genero_limpio'] == 'Non-Binary', 'genero_estandar'] = 'No binario'

# Preferir no responder (incluye variantes)
df.loc[
    df['genero_limpio'].str.contains(
        'Prefer', case=False, na=False
    ),
    'genero_estandar'
] = 'Otro / No especificado'

# NaN explícitos
df.loc[df['genero_limpio'] == 'Nan', 'genero_estandar'] = 'Otro / No especificado'

# 3. Validación final
df['genero_estandar'].value_counts()

genero_estandar
Mujer                     21424
Hombre                     5538
No binario                  747
Otro / No especificado      481
Name: count, dtype: int64

In [46]:
#Educación
df['nivel_educativo'].value_counts(dropna=False).head(20)

nivel_educativo
College degree                        13557
Master's degree                        8892
Some college                           2092
PhD                                    1428
Professional degree (MD, JD, etc.)     1328
High School                             657
NaN                                     236
Name: count, dtype: int64

In [48]:
# 1. Crear versión limpia
df['educacion_limpia'] = (
    df['nivel_educativo']
    .astype(str)
    .str.strip()
    .str.title()
)

# 2. Crear variable estándar con valor por defecto
df['educacion_estandar'] = 'Otro / No especificado'

# Secundaria
df.loc[
    df['educacion_limpia'].str.contains('High School', na=False),
    'educacion_estandar'
] = 'Secundaria'

# Educación técnica / incompleta
df.loc[
    df['educacion_limpia'].str.contains('Some College', na=False),
    'educacion_estandar'
] = 'Educación técnica / incompleta'

# Pregrado
df.loc[
    df['educacion_limpia'].str.contains('College Degree', na=False),
    'educacion_estandar'
] = 'Pregrado'

# Maestría
df.loc[
    df['educacion_limpia'].str.contains('Master', na=False),
    'educacion_estandar'
] = 'Maestría'

# Doctorado
df.loc[
    df['educacion_limpia'].str.contains('Phd', case=False, na=False),
    'educacion_estandar'
] = 'Doctorado'

# Grado profesional (MD, JD, etc.)
df.loc[
    df['educacion_limpia'].str.contains('Professional Degree', na=False),
    'educacion_estandar'
] = 'Grado profesional'
df['educacion_estandar'].value_counts()

educacion_estandar
Pregrado                          13557
Maestría                           8892
Educación técnica / incompleta     2092
Doctorado                          1428
Grado profesional                  1328
Secundaria                          657
Otro / No especificado              236
Name: count, dtype: int64

In [50]:
#Edad
df["rango_edad"].value_counts(dropna=False)

rango_edad
25-34         12696
35-44          9913
45-54          3195
18-24          1277
55-64           997
65 or over       95
under 18         17
Name: count, dtype: int64

In [52]:
#Experiencia
df["anios_experiencia_total"].value_counts(dropna=False)

anios_experiencia_total
11 - 20 years       9641
8 - 10 years        5384
5-7 years           4899
21 - 30 years       3648
2 - 4 years         3060
31 - 40 years        871
1 year or less       561
41 years or more     126
Name: count, dtype: int64

In [54]:
#Moneda
df["moneda"].value_counts(dropna=False)

moneda
USD        23473
CAD         1676
GBP         1594
EUR          654
AUD/NZD      505
Other        170
CHF           37
SEK           37
JPY           23
ZAR           17
HKD            4
Name: count, dtype: int64

In [56]:
#Ajustar las variables a su tipo correcto

#Variables numéricas
cols_numericas = [
    "salario_anual"
]

for col in cols_numericas:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df.dtypes

fecha_registro              object
rango_edad                  object
industria                   object
cargo                       object
cargo_contexto              object
salario_anual              float64
compensacion_adicional     float64
moneda                      object
moneda_otro                 object
ingreso_contexto            object
pais                        object
estado_usa                  object
ciudad                      object
anios_experiencia_total     object
anios_experiencia_area      object
nivel_educativo             object
genero                      object
raza                        object
pais_limpio                 object
pais_estandar               object
ciudad_limpia               object
ciudad_estandar             object
ciudad_final                object
genero_limpio               object
genero_estandar             object
educacion_limpia            object
educacion_estandar          object
dtype: object

In [58]:
#Validar métricas de salario anual
df[cols_numericas].describe()

       salario_anual
count   7.888000e+03
mean    8.978542e+05
std     6.757628e+07
min     0.000000e+00
25%     5.400000e+04
50%     7.550000e+04
75%     1.100000e+05
max     6.000070e+09

### Descargar base ajustada para trabajar poder cargar en LookerStudio

In [60]:
df.to_csv("base_salarios_final.csv", index=False)